.main_intro_body {
    width: 1100px;
    height: 820px;
    position: relative;
    margin: auto;
    margin-top: 500px;
}

.main_intro_logopage {
    width: 1100px;
    height: 420px;
    background-color: #00AD52E6;
}

.main_intro_datapage {
    width: 1100px;
    height: 400px;
    background-color: #FFFFFFD6;
}
